[Unit]
Description=CTT server service
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
Restart=on-failure
TimeoutStopSec=70
ExecStart=/opt/ncar/bin/cttd /opt/ncar/etc/ctt/conf.yaml
KillSignal=SIGTERM
User=ctt


[Install]
WantedBy=default.target


